<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>设备详情</title>
</head>
<body>
    {% if pdaq %}
    <h1>{{ pdaq.ip }}</h1>
        <div class="cotainer">
            <h2>
                <span>分类：{{ pdaq.category.name }}</span>
                <span>客户：{{ pdaq.custom.name }}</span>
            </h2>
        </div>
        <hr/>
            <p>
            <h3>
                设备信息摘要：{{ pdaq.desc }}<br/>
                ICCID:{{ pdaq.ICCID }}
            </h3>
            </p>
    {% endif %}
</body>
</html>